.header {
    color: aliceblue;
    height: 105px;
    background-color: #fff;
    z-index: 999;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(129, 129, 138, 0.2) 0px 7px 29px 0px;

    & svg {
        font-size: 21px;
    }
}
.header-info {
    width: 100%;
    height: 35px;
    background-color: #043aad;
    display: flex;
    justify-content: space-around;
}
.header-contact div{
    padding: 0 15px;
}
.header-info div {
    display: flex;
    align-items: center;
}
.header-info svg {
    padding-right: 5px;
}
.header-info p {
    font-size: 15px;
    margin: 0
}

.header-feature {
    margin-right: 25px;
    
    & svg {
        margin: 0 3px;
    }
}
.header-feature a {
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
}
.header-language {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 82px;
    outline: 0;
}
.header-language option {
    color: #333;
}
.header-feature div {
    margin: 0 10px;
}



.header-sidebar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;

    & .nav-btn {
        padding: 5px;
        cursor: pointer;
        opacity: 0;
        display: none;

    }
   
}
.header-menu .active {
    color: red;
}
.header-menu a {
    margin: 8;
    text-decoration: none;
    padding: 0 10px;
    font-size: 17px;
    font-weight: 400;
    color: #0D0E43;
}
.mobile{
    background-color: rgb(231, 230, 230);
    position: fixed;
    top: 16.5%;
    right: 0;
}
.mobile div{
    width: 200px;
    display: flex;
    flex-direction: column;
}
.mobile a {
    height: 50px;
    text-decoration: none;
    padding: 5px 15px;
    &:hover{
        background-color: rgb(241, 240, 240);
    }
}
.nav-bar-icon {
    cursor: pointer;
    font-size: 30px;
    margin-right: 20px;
    position: relative;
}

.header-search div {
    background-color: #FB2E86;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
}
.header-search {
    display: flex;
}
.header-search input {
    outline: 0;
    border: 2px solid rgb(128, 127, 127) ;
    height: 34px;
    width: 245px;
    padding: 5px;
}





@media only screen and (max-width: 900px) {
    
    .header-sidebar {
        justify-content: space-between;
        padding: 0 5%;
        
        & .header-menu {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 55%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            background-color: rgb(240, 236, 236);
            transition: all .6s;
            transform: translateY(-100%);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            & a {
                width: 100%;
                text-align: center;
               
            }
        }
        & .nav-btn {
            display: block;
            opacity: 1;
        }

        & .close_btn {
            position: absolute;
            top: 1rem;
            right: 2rem;
        }
        &:active {
            & .reponsive_navbar {
                transform: none;
            }
        }
        & .reponsive_navbar {
            transform: none;
        }

    }
    .header-info .header-contact {
        display: none;
    }
  }


@media only screen and (max-width: 700px) {


}

@media only screen and (max-width: 600px) {
    .header-sidebar {
        justify-content: space-between;
    }
    .header-sidebar>div:nth-child(1) {
        padding-left: 20px;
    }
    .header-search {
        display: none;
    }
}

@media only screen and (max-width: 500px){
    
}

  