.home {
    background-color: #F2F0FF;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    &-left{
        display: flex;
        width: 60%;
        & img{
         transform: translateY(-30px);
        }
        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}



@media only screen and (max-width: 900px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & img{
            padding: 25px 0;
        }
    }
}