.home {
    width: 100%;
    %flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    position: relative;
    &-banner {
        display: flex;
        justify-content: space-around;
        background-color: #F2F0FF;
        padding: 30px 0;
    }
    &>div {
        display: flex;
        justify-content: center;
        & h1 {
            color: #1A0B5B;
        }
    }
    &-left{
        display: flex;
        width: 60%;
        & img{
         transform: translateY(-30px);
        }
        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }


    // home-product
    &-product {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & h1 {
            text-align: center;
            font-weight: 550;
            font-size: 30px;
        }

        &>div {
            margin: 60px auto;
            
            &>div {
                display: flex;
                align-items: center;
                justify-content: center;
                & svg {
                    width: 30px;
                    height: auto;
                    cursor: pointer;
                }
                & .home-product-slideshow {
                    display: flex;
                    align-items: center;
                    width: calc(90% - 15px);
                    overflow: hidden;
                    
                    & .home-product-list {
                        transition: transform 0.2s linear;
                        display: flex;
                        & svg {
                            width: 22px;
                            height: auto;
                            cursor: pointer;
                        }

                        & .product{
                            &:hover {
                                & .product-info, h3 {
                                    background-color: #2F1AC4;
                                    color: #fff;
                                }
                                & button {
                                    transform: translateY(15px);
                                    transition: transform .25s linear;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-slides {
            width: 80%;
        }
        
        &-intro {
            
            &>div {
                display: flex;
            }
        }

        &-product-hot {
            display: flex;
            justify-content: center;
            background-color: #F1F0FF;
            width: 100%;
            padding: 30px 0;
            &>div {
                width: 65%;

                &>div:nth-child(2) {

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    & h3 {
                        font-weight: 550;
                            color: #151875;
                    }

                    & .title {
                        display: flex;
                        margin: 15px 0;
                        & img {
                            margin-right: 15px;
                        }
                        & p {
                            font-size: 14px;
                            color: #949494;
                            margin: 0;
                        }
                    }
                }
            }
        }
        
    }
}
//slider
.carousel {
    & .carousel-indicators{

        & button {
            background-color: #333;
        }
    }
    & .carousel-control-prev {
        & span:nth-child(1) {
            color: #333;
        }
        & .carousel-control-prev-icon {
            color: #333;
        }
    }
}


@media only screen and (max-width: 900px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & img{
            padding: 25px 0;
        }
    }
}