.home {
    width: 100%;
    %flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    position: relative;
    &-banner {
        display: flex;
        justify-content: space-around;
        background-color: #F2F0FF;
        height: 415.562px;
        padding: 30px 0;
    }
    &>div {
        display: flex;
        justify-content: center;
        & h1 {
            color: #1A0B5B;
            font-size: 35px;
        }
    }
    &-left{
        display: flex;
        width: 60%;
        & img{
         transform: translateY(-30px);
        }
        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }


    // home-product
    &-product {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & h1 {
            text-align: center;
            font-weight: 550;
            font-size: 30px;
        }

        &>div {
            margin: 60px auto;
            
            & .button-slides {
                display: flex;
                align-items: center;
                justify-content: center;
                & svg {
                    width: 30px;
                    height: auto;
                    cursor: pointer;
                }
                & .home-product-slideshow {
                    display: flex;
                    align-items: center;
                    width: calc(90% - 15px);
                    overflow: hidden;
                    
                    & .home-product-list {
                        transition: transform 0.2s linear;
                        display: flex;
                        & svg {
                            width: 22px;
                            height: auto;
                            cursor: pointer;
                        }

                        & .product{
                            &:hover {
                                & .product-info, h3 {
                                    background-color: #2F1AC4;
                                    color: #fff;
                                }
                                & button {
                                    transform: translateY(15px);
                                    transition: transform .25s linear;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-slides {
            width: 80%;
        }
        
        &-intro {
            
            &>div {
                display: flex;
            }
        }

        &-product-hot {
            display: flex;
            justify-content: center;
            background-color: #F1F0FF;
            width: 100%;
            padding: 30px 0;
            height: 415.562px;
            position: relative;
            &>div {
                width: 65%;
                display: flex;
                &>div:nth-child(2) {

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    & h3 {
                        font-weight: 550;
                            color: #151875;
                    }

                    & .title {
                        display: flex;
                        margin: 15px 0;
                        & img {
                            margin-right: 15px;
                        }
                        & p {
                            font-size: 14px;
                            color: #949494;
                            margin: 0;
                        }
                    }
                }
            }
        }

        &-room {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 30px auto;
            &>div {
                margin-top: 20px;
                width: 80%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
               & .room-detail {
                width: 300px;
                margin: 40px;
                cursor: default;
                    & img {
                        border-radius: 10px;
                        width: 300px;
                        height: auto;
                    }
                    & span {
                        background-color: #FFE7F9;
                        padding: 4px;
                        border-radius: 6px;
                        margin: 0 6px;
                            & svg {
                                padding: 0 5px;
                            }
                    }
                    & .title-room {
                        margin-top: 25px;
                        & h5 {
                            color: #151875;
                        }
                        & p {
                            color: #a5a5a5;
                        }
                    }
                    &:hover{
                        
                        & h5 {
                            color: #FB2E86;
                        }
                    }
                }
            }
        }
        
    }
    &-backgroundImg {
        background-image: url("../../image/home/BackgroundImg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 415.547px;
        text-align: center;
        display: flex;
        align-items: center;
        & div {
            width: 50%;
            margin: auto auto;

            & button {
                margin-top: 25px;
            }
        }
    }
}


@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 770px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        &-banner {
            display: flex;
            justify-content: center;
            & .home-left {
                z-index: 10;
                width: 80%;
                &>img {
                    display: none;
                }
            }
            & img {
                position: absolute;
                top: 30px;
                left: 40%;
                z-index: 0;
            }
        }
        &-product {

            &-slides {
                width: calc(280px*2);
            }
            &-intro > div { 
                flex-direction: column;
                align-items: center;
                &>div {
                    margin-top: 25px;
                }
            }
            &-product-hot > div  {
                flex-direction: column;

                &>div:first-child {
                    &>img {
                        width: 250px;
                    }
                }
                &>div:nth-child(2) {
                    position: absolute;
                    & p {
                        color: black;
                    }
                }
            }
            &-room > div .room-detail {
                margin: 0;
            }
            
        }
        
    }
}
@media only screen and (max-width: 640px){
   .home {

        &-product-slides {
            width: calc(280px*1);
        }
   }
}
@media only screen and (max-width: 480px){
    .home {
        &-banner {

            & h1 {
                font-size: 16px;
            }
        }
}

}
@media only screen and (max-width: 400px){

}

// @media only screen and (max-width: 1024px) {

// }
// @media only screen and (max-width: 770px) {
  
// }
// @media only screen and (max-width: 640px){

// }
// @media only screen and (max-width: 480px){

// }
// @media only screen and (max-width: 400px){

// }