.about{
    &-body{
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &>div {
            color: #151875;
            width: 70%;
            display: flex;
            justify-content: center;
            padding: 30px;
            margin: 0 0 30px;
            & img {
                margin: 0 23px;
            }
            & p {
                color: rgb(97, 96, 96);
                font-size: 13px;
            }
        }

    }
}


.about-intro {
    text-align: center;
    color: #151875;
    box-shadow: rgba(103, 103, 109, 0.1) 0px 7px 29px 0px;
    padding: 20px;
    margin: 0 15px;
    border-bottom: 1px solid transparent;
    & p {
        color: rgb(124, 122, 122);
        font-size: 13px;
    }
    &:hover {
        border-bottom: 1px solid #FF9100;
    }
}