.button {
    width: 130px;
    height: 40px;
    background-color: #FB2E86;
    color: #fff;
    border-radius: 3px;
    list-style: none;
    border: none;
    cursor: pointer;
    margin: 15px 0;
    & a {
        text-decoration: none;
        color: #fff;
    }
    &:hover{
        background-color: #fa0a72;

    }
}
