.signin-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F5FF;
    padding: 20px 0;
    &>div {
        width: 80%;
        & .signin-link {
            display: flex;
            & a {
                text-decoration: none;
                color: black;
            }
        }
    }
    & h2{
        margin: 10px 0;
        font-weight: 550;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}