.detail {
    color: #0D134E;
    &-body {
        width: 70%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 60px auto;
        display: flex;
        padding: 15px;
        
        &-image{
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            &>div {
                display: flex;
                flex-direction: column;
                & img {
                    margin: 10px 0;
                }
            }
        }

        &-info {

            & h2 {
                margin: 10px 0 ;
                font-weight: 550;
                color: #0c1463;
            }
            & h4 {
                margin: 7px 10px 5px 0;
                font-size: 17px;
                font-weight: 550;
            }
            p {
                font-size: 16px;
                color: rgb(158, 158, 158);
            }
            & div {
                display: flex;
                align-items: center;
                &>p{
                    margin: 3px 5px;
                    font-size: 18px;
                }  
                & svg {
                    margin: 0 3px;
                }
            }
            & button {
                width: 200px;
                border-radius: 20px;
            }
            & .button {
                & svg {
                    padding: 0 10px;
                }
            }
        }
    }

    &-description {
        display: flex;
        justify-content: center;
        &>div {
            width: 80%;
            & h2 {
                font-weight: 550;

            }
            & h3 {
                font-size: 25px;
            }
        }
        
    }
}