%box {
    width: 90%;
    height: 300px;
    background-color: #f6f6fc;
    border-radius: 4px;
}
.cart {
    &-body {
        display: flex;
        justify-content: center;
        margin: 50px 0;
        & h3 {
            color: #1D3178;
        }
        &>div {
            display: flex;
            width: 80%;
            & .cart-body-products {
                width: 60%;
                
                & table {
                    border-collapse: collapse;
                  
                    & thead {

                        & th:nth-child(1) {
                            text-align: left;
                        }
                        & th {
                            text-align: center;

                            & h3 {
                                font-size: 20px;
                                font-weight: 550;
                            }
                        }
                    }
                    & tbody {   
                        
                        & h4 {
                            margin: 0;
                            font-size: 14px;
                            font-weight: 550;
                        } 
                        & p {
                            font-size: 12px;
                            margin: 0;
                            color: rgb(138, 136, 136);
                            font-weight: 200;
                        }
                        & td:nth-child(1) {
                            width: 35%;
                        }
                        & td {
                            border-bottom: 1px solid rgb(187, 186, 186);
                            padding: 14px 0;
                            width: 300px;
                            color: #15245E;
                            font-weight: 600;
                            text-align: center;
                            font-size: 15px;
                            & img {
                                margin: 0 8px 0 0 ;
                            }
                            &>div {
                                display: flex;
                                align-items: center;
                                width: 100%;

                                &>div {
                                    text-align: left;
                                }
                            }
                            & svg {
                                color: rgb(167, 164, 164);
                                margin: 0 8px;
                                cursor: pointer;
                                width: 15px;
                            }
                            & input[type="submit"] {
                                background-color: rgb(59, 134, 231);
                                cursor: pointer;
                                width: 25px;
                                height: 24px;
                                border: none;
                                color: antiquewhite;
                                border-radius: 5px;
                            }
                            & .button {
                                width: 100px;
                            }
                        }
                        & td:last-child {
                            width: 100px
                        }

                        & tr:last-child {
                            & td {
                                border: none;
                            }
                        }
                    }
                }
            }   
        }
        
    }

    &-totals-shipping {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & table {
            width: 95%;
            margin-bottom: 30px;

            & thead {
                height: 29px;
                margin: 19px 0;
                text-align: center;

                & h3 {
                    font-size: 20px ;
                    font-weight: 550;
                    margin-bottom: 35px;
                }
            }
            & tbody {

                & td {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
        & .totals {
            @extend %box;

            &>div {
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                &>div {
                    display: flex; 
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 2px solid rgb(201, 200, 200);
                    padding: 7px 0;
                    margin: 15px 0 25px;
                    width: 80%;
                    & h4{
                        margin: 0;
                        color: #1D3178;
                        font-weight: 600;
                        font-size: 17px;
                    }
                    & p {
                        font-size: 14px;
                        font-weight: 550;
                        color: #1D3178;
                        margin: 0;
                    }
                }
                & input{
                    background-color: #19D16F;
                }
                &>button {
                    width: 80%;
                    background-color: #19D16F;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                    border: none;
                    height: 50px;
                    margin-top: 23px;
                }
            }
        }

        & .shipping {
            @extend %box;
            
            &>div {
                & div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 20px;
                    & input {
                        width: 80%;
                        height: 47px;
                        border: none;
                        outline-style: none;
                        border-bottom: 1.5px solid rgb(179, 177, 177);
                        background-color: #f6f6fc;

                    }
                }
               
            }
        }
    }

    & .notfound-cart {
        margin: 30px 0;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}




.checkout {

    &-body {
        width: 100%;
        margin-top: 50px;
        &>div {
            display: flex;
            justify-content: center;
            width: 100%;
            & .form-checkout {
                width: 50%;
                & form {
                    width: 90%;
                }
            }
    
            & .infor-cart {
                width: 30%;
                &>div {
                    width: 100%;
                    margin: 0;
                    height: 330px;
                    background-color: #faf9f9;
                    border-radius: 6px;
                    overflow-y: scroll;
                    padding: 25px 0;
                    & .product-checkout {
                        display: flex;
                        justify-content: space-between;
                        height: 70px;
                        border-bottom: 1px solid #cccbcb;
                        padding: 7px 10px;
                        width: 90%;
                        margin: 0 auto;
                        & div:first-child {
                            width: 70%;
                        }
                        & img {
                            margin-right: 6px;
                        }
                        & p {
                            font-weight: 550;
                            font-size: 14px;
                            margin: 2px;
                        }
                    }
        
                }
            }
        }

    }
}

.order-susscess {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &>div:nth-child(2) {
        width: 50%;
        text-align: center;
        height: 250px;
        margin-top: 50px;
        & h2 {
            margin: 15px 0;
            color: #101750;
            
        }
        & p {
            color: #afaeae;
        }
    }
}


@media only screen and (max-width: 1024px) {
    .cart-body > div {
            width: 100%;
            padding: 3%;
    }
    .checkout-body > div {

        & .form-checkout {
            width: 60%;
        }

        & .infor-cart {
            width: 35%;
        }
    }
}
@media only screen and (max-width: 770px) {
    .cart-body > div { 
        display: flex;
        flex-direction: column;
        align-items: center;

        & .cart-body-products {
            width: 85%;
        }

        & .cart-totals-shipping {
            width: 80%;
        }
    }

    .checkout-body > div { 
        display: flex;
        flex-direction: column;
        align-items: center;

        & .form-checkout {
            width: 85%;
            order: 2;
            margin-top: 50px;
        }

        & .infor-cart {
            width: 75%;
            order: 1;
        }
    }

    .order-susscess {

        &>div:nth-child(2) {
            width: 80%;
            height: 300px;
        }
    }
}
@media only screen and (max-width: 640px){
    .cart-body > div {
        width: 100%;
        & .cart-body-products {
            width: 100%;

            & img {
                width: 40px;
            }
        }

        & .cart-totals-shipping {
            width: 100%;
        }
    }
    .order-susscess {

        &>div:nth-child(2) {
            width: 95%;
        }
    }
}
@media only screen and (max-width: 480px){
    .checkout-body > div { 
        

        & .form-checkout {
            width: 95%;
            order: 2;
            margin-top: 50px;
        }

        & .infor-cart {
            width: 90%;
            order: 1;
        }
    }
}
@media only screen and (max-width: 400px){

}
